html{
    font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Sk-Modernist";
	color: var(--primary-color);
    font-family: 'Blinker', sans-serif;
    transition: all .2s ease-out;
}

.cursor{
    opacity: 1;
    background:coral;
	position: fixed;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    transition:0s;  
    pointer-events: none;
    z-index: -1;
    mix-blend-mode: difference;
}


.arrow-box:hover >.cursor{
    opacity: 1;
    background:coral;
	position: fixed;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    pointer-events: none;
    z-index: -1;
    mix-blend-mode: difference;
}
body{
    height: 4000px;
}
li, a, button {
    font-weight: 500;
    font-size:16px;
    color: solid black;
    text-decoration: none;
}

/* Font wrap Setting*/
h1{
    white-space: normal;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
.logo{
    cursor:pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 2rem;
}

.nav_links li a{
    text-transform: uppercase;
    transition: all .3s ease 0s;
}
.nav_links li a:hover{
    text-decoration: line-through;
}

.space100{
    width: 100%;
    height: 3vw;
}
.divider{
    width: 100%;
	height: 1px;
	background: rgb(20, 20, 20);
}
.introduction{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.hello p{
    display: flex;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 2.5vw;
    font-weight: 200;
}
.iam p{
    text-align: right;
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    font-size: 2.5vw;
    font-weight: 200;
}
.name h1{
    text-align:right;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 7vw;
    font-weight: 500;
    font-family: 'BioRhyme Expanded', serif;
}




.arrow{
    float: right;
    width: 5vw;
    height: auto;
}
.arrow2{
    width: 100px;
    height: 100px;
    transform: translate(-50%,-50%);
}
.arrow-container{
    margin-top: 20px;
    width: 100%;
    margin-right: 15%;
}
.arrow-box{
    display: flex;
    margin-right: 15%;
    width: 5vw;
    float: right;
}
.arrow-container2{
    display: flex;
    width:100%;
    height:300px;
    align-items: center;
    justify-content: center;
}


.arrow:hover{
    animation:  arrow infinite  800ms 40ms ease-in-out;
}



@keyframes arrow{
    0% {
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0px);
    }
}
/*
@media (max-width: 1200px) {
    
    .hello p{
        
        margin-left: 15%;
        margin-right: 15%;
        font-size: 3rem;
}
    .name h1{
        margin-left: 15%;
        margin-right: 15%;
        font-size: 5rem;
    }
    .iam p{
        margin-left: 15%;
        margin-right: 15%;
        font-size: 3rem;
    }
}

*/

h2{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1rem;
    margin-top: 1rem;
    z-index: 0;
    color: rgb(199, 199, 199);
}

.main-grid { 
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    height:100%;
      display: grid;
      gap: 0rem;
        grid-auto-columns: 1fr;
        grid-auto-rows:1fr;
      grid-template-areas: 
      'one'
      'two'
      'three'
      'four'
      'five'
      'six'
      'seven'
      'eight'
      'nine'
      'ten'
      'eleven'
      'twelve'
      'thirteen'
      'fourteen'
      'fifteen'
      'sixteen';
  
      /*padding-block: 2rem;
      */
  
}

.grid {
    background-color: transparent;
  }
  .grid:nth-child(1){
      grid-area: one;
      border-style: solid;
      border-bottom: none;
      border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(2){
      grid-area: two;
      border-style: solid;
      border-bottom: none;
      border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(3){
     grid-area: three;
     border-style: solid;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(4){
     grid-area: four;
     border-style: solid;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(5){
     grid-area: five;
     border-style: solid;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(6){
     grid-area: six;
     border-style: solid;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(7){
     grid-area: seven;
     border-style: solid;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(8){
     grid-area: eight;
     border-style: solid;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(9){
     grid-area: nine;
     border-style: solid;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(10){
     grid-area: ten;
     border-style: solid;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(11){
     grid-area: eleven;
     border-style: solid;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(12){
     grid-area: twelve;
  }
  .grid:nth-child(13){
     grid-area: thirteen;
     border-style: solid;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(14){
     grid-area: fourteen;
     border-style: solid;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(15){
     grid-area: fifteen;
  }
  .grid:nth-child(16){
     grid-area: sixteen;
  }

.star {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.grid > a img{
    margin: 0;
    height: 100%;
    width:100%;
    object-fit: cover;
    z-index: -1000;
}
.grid > img{
    margin: 0;
    height: 100%;
    width:100%;
    object-fit: cover;
    z-index: -1000;
}


.exploded:hover{ 
    transform: scale(99%);
    filter: contrast(105%);
}
.nemo:hover{ 
    transform: scale(99%);
    filter: contrast(105%);
}
.poster:hover{ 
    transform: scale(99%);
    filter: contrast(110%);
}
.minus:hover{ 
    transform: scale(99%);
    filter: contrast(105%);
}
.fooda:hover{
    transform: scale(99%) ;
}
.pencil-sharpener:hover{
    transform: scale(99%) ;
    filter: contrast(105%);
}
.block:hover{
    filter: contrast(120%);
}
.atandt:hover{
    filter: contrast(120%);
}
.grid:nth-child(1):hover{
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow:inset 0 0 10px #00000015;
}
.grid:nth-child(2):hover{
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow:inset 0 0 10px #00000015;
    filter: contrast(105%);
}
.grid:nth-child(3):hover{
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow:inset 0 0 10px #00000015;
}
.grid:nth-child(4) :hover{
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow:inset 0 0 10px #00000015;
}
.grid:nth-child(6) :hover{
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow:inset 0 0 10px #00000015;
}
.grid:nth-child(7):hover{
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow:inset 0 0 10px #00000015;
}
.grid:nth-child(8):hover{
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow:inset 0 0 10px #00000015;
}
.grid:nth-child(9):hover{
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow:inset 0 0 10px #00000015;
}
.grid:nth-child(10):hover{
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow:inset 0 0 10px #00000015;
}
.grid:nth-child(11):hover{      /* arrow2 */
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow:inset 0 0 10px #00000015;
}
.grid:nth-child(12):hover{
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0.1);
}
.grid:nth-child(15):hover{
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0.1)
}
.grid:nth-child(16):hover{
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0.1)
}
.marquee{
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    height: 100%;
    object-position: center;
    text-align: center;
    overflow: hidden;
} 
.marquee-wrapper{
    width: 1000%;
    animation : marqueeAnimation 15s linear 0s infinite running;
}

.marquee h3{
    font-size: 3rem;
    font-weight: 200;
    color:rgb(80, 80, 80)
}

.marquee h3 .marquee-title{
    margin-left: 20px;
    float: left;
    font-family: 'BioRhyme Expanded', serif;
}

.marquee h3 .marquee-title span{
    
    font-family: 'BioRhyme Expanded', serif;
}

@keyframes marqueeAnimation{
    100%{
        transform: translateX(-25%);
    }

}

.js1 {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    z-index:10;
}





/*!!!!!!!!Socials!!!!!!!*/

.intro {
    margin-top: 10%;
	margin-left: 15%;
	margin-right: 15%;
    
}

.intro .intro-container {
	display: flex;
    text-align: right;
    flex-direction: column;
	justify-content: space-between;
}

.intro .intro-container a {
	cursor: pointer;
	text-decoration: none;
    font-family: 'BioRhyme Expanded', serif !important;
    font-size: 5vw;
}

.intro-container .a:hover{
    position: relative;
    z-index: -1;
}
.intro-container .text1 {
    color:rgba(0, 0, 0, 0.144);
}
.intro-container .text2 {
    color:rgba(0, 0, 0, 0.144);
}
.intro-container .text3 {
    color:rgba(0, 0, 0, 0.144);
}
.intro-container .text1:hover {
    color: rgb(0, 0, 0);
}
.intro-container .text2:hover {
    color: rgb(0, 0, 0);
}
.intro-container .text3:hover {
    color: rgb(0, 0, 0);
}
.intro-container .text1:hover ~ .hover-img1{
    opacity: 80%;
    transform: translate(-50%,-50%) scale(2);
}
.intro-container .text2:hover ~ .hover-img2{
    opacity: 80%;
    transform: translate(-50%,-50%) scale(2);
}
.intro-container .text3:hover ~ .hover-img3{
    opacity: 80%;
    transform: translate(-50%,-50%) scale(2);
}
.hover-img1{
    opacity: 0;
    position: absolute;
    width: auto;
    height: 20vw;
    margin-top: 10vw;
    left: 30%;
    transform: translate(-70%,-50%) scale(1.9);
    pointer-events: none;
    z-index: -1;
}
.hover-img2{
    opacity: 0;
    position: absolute;
    width: 14vw;
    height: 14vw;
    margin-top: 22vw;
    left: 30%;
    transform: translate(-70%,-50%) scale(1.9);
    pointer-events: none;
    z-index: -1;
}
.hover-img3{
    opacity: 0;
    position: absolute;
    width: 20vw;
    height: auto;
    margin-top: 33vw;
    left: 40%;
    transform: translate(-70%,-50%) scale(1.9);
    pointer-events: none;
    z-index: -1;
}















@media (min-width: 100px){


.main-grid { 
    background-color: rgb(255, 255, 255);
      display: grid;
      gap: 0rem;
        grid-auto-columns: 1fr;
        grid-auto-rows:1fr;
      grid-template-areas: 
      'one'
      'two'
      'three'
      'four'
      'five'
      'six'
      'seven'
      'eight'
      'nine'
      'ten'
      'eleven'
      'twelve'
      'thirteen'
      'fourteen'
      'fifteen'
      'sixteen';
  
      /*padding-block: 2rem;
      */
    }
}






@media (min-width: 900px){
    .main-grid{
        grid-auto-rows:12rem;
      grid-template-areas: 
     
      'one one one one eleven eleven'
      'one one one one eleven eleven'
      'four four six six two two'
      'four four six six two two'
      'three three thirteen thirteen two two'
      'three three thirteen thirteen two two'
      'three three seven seven five five'
      'three three seven seven five five'
      'eight eight eight eight eight eight'
      'nine nine ten ten ten ten'      
      'nine nine ten ten ten ten'      
      'nine nine ten ten ten ten'      
      'twelve twelve twelve twelve twelve fourteen'
      'twelve twelve twelve twelve twelve fourteen'
      'twelve twelve twelve twelve twelve fourteen'
      'fifteen fifteen sixteen sixteen sixteen fourteen'
      'fifteen fifteen sixteen sixteen sixteen fourteen';
    }
    .arrow2{
        width: 100px;
        height: 100px;
        transform: translate(-50%,-50%);
    }
    .marquee{
        padding-top: 25px;
        width: 100%;
        height: 100%;
        object-position: center;
        text-align: center;
        overflow: hidden;
    } 
    .marquee h3{
        font-size: 4rem;
        font-weight: 200;
        color:rgb(80, 80, 80)
    }
    .arrow-container2{
        display: flex;
        width:100%;
        height:100%;
        align-items: center;
        justify-content: center;
    }
    .grid {
        background-color: transparent;
      }
      .grid:nth-child(1){
          grid-area: one;
          border-style: solid;
          border-right: none;
          border-bottom: none;
          border-width:0.2px;
         color: rgb(224, 224, 224);
      }
      .grid:nth-child(2){
          grid-area: two;
          border-left: none;
          border-style: solid;
          border-bottom: none;
          border-width:0.2px;
         color: rgb(224, 224, 224);
      }
      .grid:nth-child(3){
         grid-area: three;
         border-style: solid;
         border-bottom: none;
         border-right: none;
         border-width:0.2px;
         color: rgb(224, 224, 224);
      }
      .grid:nth-child(4){
         grid-area: four;
         border-style: solid;
         border-right: none;
         border-bottom: none;
         border-width:0.2px;
         color: rgb(224, 224, 224);
      }
      .grid:nth-child(5){
         grid-area: five;
         border-style: solid;
         border-bottom: none;
         border-width:0.2px;
         color: rgb(224, 224, 224);
      }
      .grid:nth-child(6){
         grid-area: six;
         border-style: solid;
         border-right: none;
         border-bottom: none;
         border-width:0.2px;
         color: rgb(224, 224, 224);
      }
      .grid:nth-child(7){
         grid-area: seven;
         border-style: solid;
         border-bottom: none;
         border-right: none;
         border-width:0.2px;
         color: rgb(224, 224, 224);
      }
      .grid:nth-child(8){
         grid-area: eight;
         border-style: solid;
         border-bottom: none;
         border-width:0.2px;
         color: rgb(224, 224, 224);
      }
      .grid:nth-child(9){
         grid-area: nine;
         border-style: solid;
         border-bottom: none;
         border-width:0.2px;
         color: rgb(224, 224, 224);
      }
      .grid:nth-child(10){
         grid-area: ten;
         border-style: solid;
         border-left: none;
         border-bottom: none;
         border-width:0.2px;
         color: rgb(224, 224, 224);
      }
      .grid:nth-child(11){
         grid-area: eleven;
         border-style: solid;
         border-bottom: none;
         border-width:0.2px;
         color: rgb(224, 224, 224);
      }
      .grid:nth-child(12){
         grid-area: twelve;
      }
      .grid:nth-child(13){
         grid-area: thirteen;
         border-style: solid;
          border-right: none;
         border-bottom: none;
         border-width:0.2px;
         color: rgb(224, 224, 224);
      }
      .grid:nth-child(14){
         grid-area: fourteen;
         border-style: solid;
         border-width:0.2px;
         color: rgb(224, 224, 224);
      }
      .grid:nth-child(15){
         grid-area: fifteen;
      }
      .grid:nth-child(16){
         grid-area: sixteen;
      }
}


@media (min-width: 1300px){
    .main-grid{
        grid-auto-rows:13rem;
      grid-template-areas: 
      'one one one one two two two two'
      'one one one one two two two two'
      'three three four four two two two two'
      'three three four four two two two two'
      'three three five five five five six six'
      'three three five five five five six six'
      'seven seven eight eight eight eight eight eight'
      'seven seven nine nine ten ten ten ten'
      'eleven eleven nine nine ten ten ten ten' 
      'eleven eleven nine nine ten ten ten ten'
      'twelve twelve twelve twelve twelve twelve thirteen thirteen'
      'twelve twelve twelve twelve twelve twelve thirteen thirteen'
      'twelve twelve twelve twelve twelve twelve fourteen fourteen'
      'twelve twelve twelve twelve twelve twelve fourteen fourteen'
      'fifteen fifteen fifteen sixteen sixteen sixteen fourteen fourteen'
      'fifteen fifteen fifteen sixteen sixteen sixteen fourteen fourteen'
      'fifteen fifteen fifteen sixteen sixteen sixteen fourteen fourteen';
    }
    .marquee{
        padding-top: 30px;
        width: 100%;
        height: 100%;
        object-position: center;
        text-align: center;
        overflow: hidden;
    } 
    .marquee h3{
        font-size: 4rem;
        font-weight: 200;
        color:rgb(80, 80, 80)
    }
    
.grid {
    background-color: transparent;
  }
  .grid:nth-child(1){
      grid-area: one;
      border-style: solid;
      border-right: none;
      border-bottom: none;
      border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(2){
      grid-area: two;
      border-style: solid;
      border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(3){
     grid-area: three;
     border-style: solid;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(4){
     grid-area: four;
     border-style: solid;
     border-left: none;
     border-right: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(5){
     grid-area: five;
     border-style: solid;
     border-left: none;
     border-top: none;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(6){
     grid-area: six;
     border-style: solid;
     border-left: none;
     border-top: none;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(7){
     grid-area: seven;
     border-style: solid;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(8){
     grid-area: eight;
     border-style: solid;
     border-left: none;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(9){
     grid-area: nine;
     border-style: solid;
     border-left: none;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(10){
     grid-area: ten;
     border-style: solid;
     border-left: none;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(11){
     grid-area: eleven;
     border-style: solid;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(12){
     grid-area: twelve;
  }
  .grid:nth-child(13){
     grid-area: thirteen;
     border-style: solid;
     border-bottom: none;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(14){
     grid-area: fourteen;
     border-style: solid;
     border-width:0.2px;
     color: rgb(224, 224, 224);
  }
  .grid:nth-child(15){
     grid-area: fifteen;
  }
  .grid:nth-child(16){
     grid-area: sixteen;
  }
}


@media (min-width: 2100px){
    .main-grid{
        grid-auto-rows:21rem;
      grid-template-areas: 
      'one one one one two two two two'
      'one one one one two two two two'
      'three three four four two two two two'
      'three three four four two two two two'
      'three three five five five five six six'
      'three three five five five five six six'
      'seven seven eight eight eight eight eight eight'
      'seven seven nine nine ten ten ten ten'
      'eleven eleven nine nine ten ten ten ten' 
      'eleven eleven nine nine ten ten ten ten'
      'twelve twelve twelve twelve twelve twelve thirteen thirteen'
      'twelve twelve twelve twelve twelve twelve thirteen thirteen'
      'twelve twelve twelve twelve twelve twelve fourteen fourteen'
      'twelve twelve twelve twelve twelve twelve fourteen fourteen'
      'fifteen fifteen fifteen sixteen sixteen sixteen fourteen fourteen'
      'fifteen fifteen fifteen sixteen sixteen sixteen fourteen fourteen'
      'fifteen fifteen fifteen sixteen sixteen sixteen fourteen fourteen';
    }
    .arrow2{
        width: 200px;
        height: 200px;
        transform: translate(-50%,-50%);
    }
    .marquee{
        padding-top: 55px;
        width: 100%;
        height: 100%;
        object-position: center;
        text-align: center;
        overflow: hidden;
    } 
    .marquee h3{
        font-size: 6rem;
        font-weight: 200;
        color:rgb(80, 80, 80)
    }
    
}